# Node modules
node_modules/

# Build output
dist/
build/
*.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*.local

# Editor specific
.vscode/
.idea/
*.swp

# MacOS specific
.DS_Store

# Jest and testing output
coverage/

*storybook.log
